/* importing font style from google fonts */

@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@500&family=Domine&family=Ibarra+Real+Nova:wght@500&family=Lato:wght@300&family=Oswald&family=PT+Sans&family=Roboto+Slab:wght@300&family=Silkscreen&display=swap');

/* game is within a canvas */
#canvas {
  display: flex;
  flex-direction: column;
  font-family: 'Silkscreen', 'sans-serif';
  align-items: center;
  color: white;
  margin: 0;
  background-image: url("../images/spc_background.png");
}

/* style for gameon header */
.header {
  position: absolute;
  margin: 10px;
  top: 0px;
  font-size: 4em;
  left: 2%;
  z-index: 3;
}

/* style for bullets shot from ship  */
.laser {
  position: absolute;
  width: 30px;
  height: 30px;
  background: url("../images/bulletimage.png");
  background-size: contain;
  background-repeat: no-repeat;
}

/* style for alien ship */
.aliengirl {
  position: absolute;
  top: 30px;
  width: 80px;
  height: 80px;
  background: url("../images/alienship.png");
  background-size: contain;
  background-repeat: no-repeat;
}

/* style for heroship */
#rocketship {
  position: absolute;
  width: 100px;
  height: 100px;
  background: url("../images/shipimage.png");
  background-size: contain;
  background-repeat: no-repeat;
  bottom: 0px;
}

/* style for score at top right of screen */
#score {
  position: absolute;
  margin: 10px;
  top: 0px;
  font-size: 4em;
  right: 2%;
  z-index: 2;
}

/* style for splash message to alert user to press enter to start */
#splash {
  position: absolute;
  margin: 10px;
  top: 250px;
  font-size: 6em;
  text-align: center;
}

/* style for touch screen controls */
.mobilecontrol {
  text-align: center;
  right: 2%;
  z-index: 4;
  bottom: 0px;
}

.controlenter {
  display: flex;
  position: fixed;
  text-align: center;
  left: 2%;
  z-index: 5;
  bottom: 0px;
}

/* style inactive arrow icons for large screen */
/* .iconcontrol {
  position: absolute;
  margin: 10px;
  bottom: 0px;
  left: 2%;
  z-index: 3;
  text-align: center;
} */

/* media queries for devises with max width of 480px */

@media screen and (min-width: 200px) and (max-width: 480px) {
  .header {
    font-size: 30px;
  }

  #splash {
    text-align: center;
    font-size: 15px;
    margin-top: auto;
  }

  #rocketship {
    width: 50px;
    height: 50px;
    bottom: 50px;
  }

  .aliengirl {
    width: 50px;
    height: 50px;
    font-size: 30px;
    top: 30px;
  }

  #score {
    font-size: 30px;
    top: 0px;
  }

  .mobilecontrol {
    text-align: center;
    right: 2%;
    justify-content: space-between;
    bottom: 0px;
  }

  .controlenter {
    position: fixed;
    text-align: center;
    right: 2%;
    bottom: 20px;
  }

  .laser {
    height: 20px;
    width: 20px;
  }


}

/* media queries for devises with max width of 640px */

@media screen and (min-width: 481px) and (max-width: 840px) {
  .header {
    font-size: 30px;
  }

  #splash {
    text-align: center;
    font-size: 20px;
   
  }

  #rocketship {
    width: 60px;
    height: 60px;
    bottom: 50px;
    
  }

  .aliengirl {
    width: 60px;
    height: 60px;
    font-size: 30px;
    
  }

  #score {
    font-size: 30px;
  }

  .mobilecontrol {
    text-align: center;
    right: 2%;
    justify-content: space-between;
    bottom: 0px;
  }

  .controlenter {
    display: flex;
    text-align: center;
    left: 2%;
    bottom: 20px;
  }

  .laser {
    height: 20px;
    width: 20px;
  }

}

/* media queries for devises with max width of 1200px */

@media screen and (min-width: 841px) and (max-width: 1200px) {
  .header {
    font-size: 30px;
  }

  #splash {
    text-align: center;
    font-size: 30px;
  }

  #rocketship {
    width: 60px;
    height: 60px;
    bottom: 50px;
  }

  .aliengirl {
    width: 60px;
    height: 60px;
    font-size: 30px;
    bottom: 0px;
  }

  #score {
    font-size: 30px;
  }

  .mobilecontrol {
    display: none;

  }

  .controlenter {
    display: none
  }
}

/* media queries for devises with max width of 3000px */

@media screen and (min-width: 1200px) and (max-width: 3000px) {

  .mobilecontrol {
    display: none;

  }

  .controlenter {
    display: none
  }

  #splash {
    text-align: center;
    font-size: 70px;
  }
}

@media screen and (min-width: 3000px) and (max-width: 4000px) {

  .mobilecontrol {
    display: none;

  }

  .controlenter {
    display: none
  }

  #splash {
    text-align: center;
    font-size: 70px;
  }
}