@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@500&family=Domine&family=Ibarra+Real+Nova:wght@500&family=Lato:wght@300&family=Oswald&family=PT+Sans&family=Roboto+Slab:wght@300&family=Silkscreen&display=swap');
#canvas {
  display: flex;
  flex-direction: column;
  font-family: "Silkscreen";
  align-items: center;
  color: white;
  font-size: medium;
  margin: 0;
  background-image: url("/assets/images/spc_background.png");
}

.header {
  position: absolute;
  margin: 10px;
  top: 0px;
  font-size: 4em;
  left: 2%;
}


.laser {
  position: absolute;
  width: 30px;
  height: 30px;
  background: url("/assets/images/bulletimage.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.aliengirl {
  position: absolute;
  top: 0px;
  width: 80px;
  height: 80px;
  background: url("/assets/images/alienship.png");
  background-size: contain;
  background-repeat: no-repeat;
}


#rocketship {
  position: absolute;
  width: 100px;
  height: 100px;
  background: url("/assets/images/shipimage.png");
  background-size: contain;
  background-repeat: no-repeat;
  bottom: 0px;
}

#score {
  position: absolute;
  margin: 10px;
  top: 0px;
  font-size: 4em;
  
  right: 2%;
}


#splash {
  position: absolute;
  margin: 10px;
  top: 250px;
  font-size: 7em;
  
text-align: center;}

.mobilecontrol {
  position: absolute;
  bottom: 0px;
  margin-right: 90%;
  margin-bottom: 5%;
  text-align: center;

  border: none;
  padding: 15px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}


/* media queries */


@media screen and (min-width: 480px) and (max-width: 950px) {
  #canvas {
    flex-basis:content;
    font-size: 15px;
    margin: 15px;
    text-align: center;
  }
}


@media screen and (min-width: 950px) {
}  

@media screen and (min-width: 950px) and (max-width: 3000px) {

}

@media screen and (min-width: 300px) and (max-width: 480px) {
  #canvas {
   font-size: 5px;
  
  }

  .header {
    text-align: center;
    font-size: 5px
  }
}
 
    

@media screen and (min-width: 1300px) {


  }
